---
import { FaChevronLeft, FaChevronRight } from "react-icons/fa";

type Pagination = {
  section?: string;
  currentPage?: number;
  totalPages?: number;
};
const { section, currentPage = 1, totalPages = 1 }: Pagination = Astro.props;

const indexPageLink = currentPage === 2;
const hasPrevPage = currentPage > 1;
const hasNextPage = totalPages > currentPage!;

let pageList: number[] = [];
for (let i = 1; i <= totalPages; i++) {
  pageList.push(i);
}
---

{
  totalPages > 1 && (
    <nav
      class="flex items-center justify-between w-full mt-12"
      aria-label="Pagination"
    >
      {/* previous */}
      {hasPrevPage ? (
        <a
          href={
            indexPageLink
              ? `${section ? "/" + section : "/"}`
              : `${section ? "/" + section : ""}/page/${currentPage - 1}`
          }
          class="btn btn-primary bg-primary/15 text-primary text-sm font-medium flex items-center"
        >
          <FaChevronLeft className="mr-2" /> Previous
        </a>
      ) : (
        <span class="btn btn-primary bg-primary/15 text-sm font-medium text-light flex items-center">
          <FaChevronLeft className="mr-2" /> Previous
        </span>
      )}

      {/* next page */}
      {hasNextPage ? (
        <a
          href={`${section ? "/" + section : ""}/page/${currentPage + 1}`}
          class="btn btn-primary text-sm font-medium flex items-center"
        >
          Next <FaChevronRight className="ml-2" />
        </a>
      ) : (
        <span class="btn btn-primary text-sm font-medium text-light flex items-center">
          Next <FaChevronRight className="ml-2" />
        </span>
      )}
    </nav>
  )
}
