<div class="absolute inset-0 grid place-items-center" id="yt-custom-thumb-btn">
  <button>
    <div class="wave-btn is-play">
      <div class="wave-btn-outer-circle has-scale-animation"></div>
      <div class="wave-btn-outer-circle has-scale-animation has-delay-short">
      </div>
      <div class="wave-btn-icon is-play">
        <svg height="100%" width="100%" class="fill-[#061237]">
          <polygon
            class="wave-btn-triangle"
            points="5,0 30,15 5,30"
            viewBox="0 0 30 15"></polygon>
          <path
            class="path stroke-[#061237]"
            d="M5,0 L30,15 L5,30z"
            fill="none"
            stroke-width="1"></path>
        </svg>
      </div>
    </div>
  </button>
</div>

<script>
  // #################### YOUTUBE CUSTOM THUMBNAIL ##########################
  document.addEventListener("astro:page-load", () => {
    const customBtn = document.getElementById("yt-custom-thumb-btn");
    const ytIframe = document.getElementById("yt-iframe");

    if (customBtn && ytIframe) {
      customBtn.addEventListener("click", () => {
        customBtn.style.display = "none";
        ytIframe.style.display = "block";
      });
    }
  });
</script>
