---
import WavePlayButton from "../WavePlayButton.astro";

const { video } = Astro.props;
---

{
  video.enable && (
    <section class="section-hero-overlap" data-aos="fade-up-sm">
      <div class="flex justify-center relative">
        <div class="yt-container card-lg overflow-hidden border-primary">
          <img
            id="yt-custom-thumb"
            src="images/career-play-thumb.png"
            class="brightness-50"
            alt="Youtube Video Thumbnail"
          />
          <iframe
            id="yt-iframe"
            src={video.src}
            frameborder="0"
            style="display: none"
            loading="lazy"
          />
        </div>
        <div
          class="absolute inset-0 grid place-items-center"
          id="yt-custom-thumb-btn"
        >
          <button>
            <WavePlayButton />
          </button>
        </div>
      </div>
    </section>
  )
}
