$primary: theme("colors.primary");
$secondary: theme("colors.secondary");
$tertiary: theme("colors.tertiary");
$quaternary: theme("colors.quaternary");

.btn {
  &:hover {
    box-shadow: none;
    transform: translate3d(3px, 3px, 0);
    transition: all ease 0.15s;
  }

  @apply inline-block rounded-full px-8 py-3 lg:py-3 lg:px-10 font-medium capitalize transition relative text-sm;
}

.btn-sm {
  &:hover {
    box-shadow: none;
    transform: translate3d(3px, 3px, 0);
    transition: all ease 0.15s;
  }
  @apply rounded-full px-4 py-1.5 font-medium transition-all inline-block;
}

.btn-primary {
  @apply bg-primary text-white;
  box-shadow: 4px 4px color-mix(in srgb, $primary, black 15%);
}

.btn-secondary {
  @apply bg-secondary text-white;
  box-shadow: 4px 4px color-mix(in srgb, $secondary, black 15%);
}
.btn-tertiary {
  @apply bg-tertiary text-white;
  box-shadow: 4px 4px color-mix(in srgb, $tertiary, black 15%);
}
.btn-quaternary {
  @apply bg-quaternary text-white;
  box-shadow: 4px 4px color-mix(in srgb, $quaternary, black 15%);
}

.btn-outline-primary {
  @apply bg-white text-dark hover:text-primary border-[1.5px];
  border-color: color-mix(in srgb, $primary, black 15%);
  box-shadow: 4px 4px color-mix(in srgb, $primary, black 15%);
}
