---
import { getSinglePage } from "@/lib/contentParser.astro";
import similarItems from "@/lib/utils/similarItems";
import { slugify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";

const { integration } = Astro.props;

const integrations = await getSinglePage("integration");
const similarIntegrations = similarItems(integration, integrations);
---

<section class="section">
  <div class="container-content">
    <h4 class="mb-7">More integration</h4>
    <div class="grid sm:grid-cols-3 lg:grid-cols-5 gap-5">
      {
        similarIntegrations?.slice(0, 4).map((item) => (
          <div class="card colorize-hover-card p-7 shadow relative">
            <Image
              src={item.data.logo}
              alt="icon"
              class="mx-auto"
              width={56}
              height={56}
              loading={"lazy"}
            />
            <a
              href={`/integration/${slugify(item.slug)}`}
              class="block text-h6 font-semibold text-dark text-center link-card"
            >
              {item.data.title}
            </a>
          </div>
        ))
      }
    </div>
  </div>
</section>
