---
import Base from "@/layouts/Base.astro";
---

<Base title="Page Not Found">
  <div class="section-hero-bottom-extended"></div>

  <section
    class="section-hero-overlap-lg mx-auto max-w-[900px]"
    data-aos="fade-up-sm"
  >
    <div class="bg-white shadow rounded-lg p-5 py-10 lg:px-10 lg:py-20 mx-4">
      <h1 class="text-[18rem] text-dark glitch flex justify-center">
        <span class="text-tertiary">4</span>
        <span class="text-primary">0</span>
        <span class="text-quaternary">4</span>
      </h1>

      <p class="font-semibold text-center mt-7">
        The requested page does not exist.
      </p>
      <div class="flex justify-center mt-10">
        <a href="index.html" class="btn btn-primary">Back Home</a>
      </div>
    </div>
  </section>
</Base>
